/* Start Variables */
:root{
   --main-color:#10cab7;
   --main-transtion:0.3s;
 }

 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



:root{
  --main-color:#10cab7;
}
html{
  scroll-behavior: smooth;
}

body{
font-family:sans-serif;
}

.header{
  background-color: #eee;
}

.container{
 margin-left: auto;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width:768px) {
 .container{
   width:750px;
 }
}

@media (min-width:992px) {
 .container{
   width:970px;
 }
}

@media (min-width:1200px) {
 .container{
   width:1170px;
 }
}

.special-heading{
  color:#ebeced;
  font-size: 100px;
  text-align:center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0px;


}
.special-heading + p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color:#79797979;
  margin: -30px 0 0 ;


}

@media (max-width:767px) {
  .special-heading {
    font-size: 60px;
  }
}

.special-heading + p {
  margin-top: -20px;
}







/*Header*/
.header{
 padding: 20px;
}
.header .container{
 display: flex;
 justify-content: space-between;
 align-items: center;}




.header .logo{
 width:60px;
}

.header .links{
position: relative;
}
.header .links:hover .icone span:nth-child(2){
 width: 100%;
}

.header .links .icone{
display:flex;
width:30px;
flex-wrap:wrap;
justify-content: flex-end;

}

.header .links .icone span{
background-color:#333;
margin-bottom:5px;
height:2px;
}
.header .links .icone span:first-child{
width:100%;
}
.header .links .icone span:nth-child(2){
width:60%;
transition:var( --main-transtion);
}

.header .links .icone span:nth-child(3){
width:100%;
}
.header .links ul {
list-style: none;
padding: 0px;
margin: 0px;
background-color: var(--main-color);
position: absolute;
right:0px;
min-width: 200px;
top:calc(100% + 20px);
display: none;
z-index: 1;

}
.header .links:hover ul {
  display: block;
}
.header .links ul::before{
 content: "";
 position: absolute;
 top:-19px;
 right:5px;
 border-width: 10px;
 border-style: solid;
 border-color: transparent transparent var(--main-color) transparent;
}


.header .links ul li a{
 display: block;
 padding: 15px;
 text-decoration: none;
 color:#333;
 transition:var(--main-transtion);

}
.header .links ul li a:hover{
 padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
 border-bottom: 1px solid #ddd;
}
/*start landing*/
.landing{
 background-image: url(../image/main-photo.jpg);
 background-size: cover;
 background-position: center;
 height:calc(100vh - 61px);
 width: auto;
 background-repeat: no-repeat;
 position: relative;
}
.landing .intro-text{
position: absolute;
top: 50% ;
left: 50% ;
transform: translate(-50% ,-50%);
width: 320px;
max-width: 100%;
text-align:center;
}

.landing .intro-text h1{
 margin: 0;
 color:var(--main-color);
 font-size: 50px;
 font-weight: bold;

}

 .landing .intro-text p{
   font-size: 19px;
   line-height: 1.8;

 }

 .features{
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #f6f6f66f;
 }

 .features .container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap:30px;
   margin-top: 100px;
 }

 .features .feat{
   padding: 20px;
   text-align: center;
 }

  .features .feat i{
    color:var(--main-color);
    font-size:25px;

  }

  .features .feat h3{
    font-weight: 800;
    margin: 30px 0;

  }

    .features .feat p{
      line-height: 1.8;
      color:#777;
      font-size: 18px;
    }

  .services {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .services .services-content{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap:350px;
    margin-top: 100px;
  }
  .services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .services .services-content .srv{
    flex-directions:row;
    text-align: center;
     }
  }
   .services .services-content  .srv i {
      color:var(--main-color);
      font-size: 25px;
      flex-basis: 60px;

   }

    .services .services-content .srv .text{
      flex:1;
    }

    .services .services-content .srv .text h3{
      margin: 0 0 20px;
    }

    .services .services-content .srv .text p{
      color:#444;
      font-weight: 300;
      line-height: 1.8;
    }

    @media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  }

    /*start portfolio*/
    .portfolio{
      padding-top:60px;
      padding-bottom:60px;
      background-color: #f6f6f66f;
;
    }


      .portfolio  .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap:30px;
        margin-top: 80px;

      }

       .portfolio  .portfolio-content .card{
         background-color:white;
       }
       .portfolio  .portfolio-content .card img {
         max-width: 100%;
       }


       .portfolio  .portfolio-content .card .info {
         padding: 20px;

       }

       .portfolio  .portfolio-content .card .info h3 {
         margin:0px
       }

        .portfolio  .portfolio-content .card .info p {
          line-height: 1.8;
          line-height: #777;
          margin-bottom:0;
        }

        /*start about*/

        .about{
          padding-top:60px;
          padding-bottom:120px;
        }

          .about .about-content {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          @media (max-width: 991px) {
            .about .about-content{
              flex-direction:column;
              text-align: center;
            }
          }


          .about-content .image{
            position: relative;
            width: 358px;
            height:242px;
          }



          @media (max-width: 991px) {
            .about .about-content .image{
              margin: 0 auto 60px;
            }
          }



            .about-content .image img{
              max-width: 100%;
            }

            .about-content .image::before{
              content: "";
              position: absolute;
              background-color:#ebeced;
              width: 100px;
              top:-40px;
              left:-20px;
              height:calc(100% + 80px);
              z-index: -1;

            }

            .about-content .image::after{
             content:"";
             position: absolute;
             width: 120px;
             height:190px;
             border-bottom: 80px solid var(--main-color);
             border-left: 80px solid var(--main-color);
             right:-150px;
             top:-40px;
             z-index: -1;
            }


            @media (max-width: 991px) {
                .about .about-content .image::after,
                .about .about-content .image::before{
                  display: none;
              }
            }




              .about-content .image img{
                max-width: 100%;
              }
              .about-content .text{
                flex-basis: calc(100% - 550px);

              }

                .about-content .text p:first-of-type{
                  font-weight: bold;
                  margin-bottom: 50px;
                  line-height: 2;

                }

                .about-content .text hr{
                  width:50%;
                  border-color: var(--main-color);
                  display: inline-block;

                }


                .about-content .text p:last-of-type{
                  font-weight: bold;
                  margin-bottom: 30px;
                  line-height: 2;
                  color:#777;

                }
                /*start contact*/

                .contact{
                  padding-top: 60px;
                  padding-bottom: 60px;
                  background-color: #f6f6f66f;
                }
                .contact .info{
                  padding-top: 60px;
                  padding-bottom: 60px;
                  text-align: center;
                }

                .contact .info .label{
                   font-weight: 800;
                   font-size: 30px;
                   color:#2c4755;
                   margin-bottom: 15px;
                }


                .contact .info .link{
                  display: block;
                  font-size: 25px;
                  font-weight: 800;
                  color: var(--main-color);
                  text-decoration: none;
                }

                .contact .info .social{
                  display: flex;
                  justify-content: center;
                  margin-top: 20px;
                  font-size: 25px;
                  color:#2c4755;
                  letter-spacing: 2;
                }

                @media (max-width: 767px) {
                  .contact .info .label,
                  .contact .info .link{
                    font-size: 2px;
                  }
                }


                  .contact .info .social i{
                    margin-left: 10px;
                    color:var(--main-color)
                  }


                  /*start footer*/

                  .footer {
                    padding: 30px 10px;
                    background-color:#2c4755;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    color:white;
                  }

                  .footer span{
                    font-weight: bold;
                    color:var(--main-color);
                  }



                  .features .container .fas fa-street-view {
                    font-size: 30px;
                    color: var(--main-color);
                  }
